{% extends 'base.html.twig' %}

{% block title %}Vehicles index{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h1 class="text-light">Vehicles index</h1> 
        <a class="btn btn-primary py-2 px-4" href="{{ path('app_vehicles_new') }}">Create new</a>
    </div>
    <table class="my-4 table table-light table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Plate</th>
                <th>License_required</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.plate }}</td>
                <td>{{ vehicle.licenseRequired }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_vehicles_edit', {'id': vehicle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
